@{
    ViewBag.Title = "About Me";
}
<p>Thank you very much for visiting my fansite for Talking Heads.  I am currently a student at the University of Cincinnati majoring in Information Technology with a focus on Software Development.  This website is an attempt to make an ASP.NET web application using an MVC architectural pattern.</p>
<p>I have been familiar with Talking Heads going back to my childhood, finding their music grew with me over time to become a very important part of my life.  I believe in viewing art through the context of the time and environment of when it was produced, which is one of the reasons I find Talking Heads to be such a great pop art band for their time.</p>
<p>My goal over time for this site is to make a resource for fans to be able to quickly and easily find information on the songs that were performed at each concert and which band members played at those concerts.  At this time the application can only display a list of concerts with associated venues and cities, but more functionality can be implemented over time.</p>
<p>Thanks again for visitng this site and I hope you find some part of it helpful or informative.  I also invite you to <a href="mailto:dwest72w@gmail.com">send me an email</a> with any questions, comments, or suggestions.</p>
<br />
<br />