@{
    ViewBag.Title = "Talking Heads Fansite Home";
}
<p>This website is dedicated to Talking Heads, an American rock band from the late 20th century.  Talking Heads are credited with pioneering the genre that would come to be known as "New Wave" releasing eight studio albums and two live albums between 1977 and 1988.  This website aims to archive data on their live shows as well as provide information on the band.</p>
<p>Please use the top navigation bar to browse this site and find other resources on Talking Heads and the band members.  Please <a href="mailto:dwest72w@gmail.com">send me an email</a> with any questions, comments, suggestions, or if you notice any errors!</p>
<p>Thanks for visiting!</p>
<br /><br />