@{
    ViewBag.Title = "Other Resources";
}
<h2>Other Talking Heads Websites</h2>
<ul>
    <li>
        <a href="https://talking-heads.nl/">Official Talking Heads Website</a>
    </li>
    <li>
        <a href="https://www.facebook.com/TalkingHeads">Official Talking Heads Facebook</a>
    </li>
    <li>
        <a href="http://talkingheadsconcerthistory.blogspot.com/">Talking Heads Concert Database</a>
    </li>
</ul>
<br />
<h2>David Byrne Websites</h2>
<ul>
    <li>
        <a href="http://davidbyrne.com/">Official David Byrne Website</a>
    </li>
    <li>
        <a href="https://twitter.com/DBtodomundo">David Byrne Twitter</a>
    </li>
    <li>
        <a href="https://www.facebook.com/DBtodomundo/">David Byrne Facebook</a>
    </li>
</ul>
<br />
<h2>Tina Weymouth/Chris Frantz/Tom Tom Club Websites</h2>
<ul>
    <li>
        <a href="https://www.tomtomclub.com/">Tom Tom Club Official Site</a>
    </li>
    <li>
        <a href="https://twitter.com/ChrisFrantzTTC">Chris Frantz Twitter</a>
    </li>
    <li>
        <a href="https://twitter.com/ogtinaweymouth">Tina Weymouth Twitter</a>
    </li>
</ul>
<br />
<h2>Jerry Harrison Websites</h2>
<ul>
    <li>
        <a href="https://www.facebook.com/jerryharrisonofficial">Jerry Harrison Facebook</a>
    </li>
    <li>
        <a href="https://www.instagram.com/jerryharrisonofficial">Jerry Harrison Instagram</a>
    </li>
</ul>
<br />
<br />