@model Concert
@{
    ViewBag.Title = "Delete Concert";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Venue - @Model.Location - @Model.Date.ToShortDateString()</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ConcertId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
</form>
<br />
<br />